{% extends 'shop/base.html' %}
{% block content %}
{% if messages %}
<div class="messages mt-2">
	{% for message in messages %}
	<p class="message {{ message.tags }}">{{ message }}</p>
	{% endfor %}
</div>
{% endif %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <div class="fadeIn first">
      <h2 class="text text-center" id="greeting">С возвращением!</h2>
    </div>

    <!-- Login Form -->
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="fadeIn fourth" value="Войти">
    </form>

  </div>
</div>
{% endblock %}